<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>myz-torrent</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2><label>Url</label></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="form-group">
                    <input type="email" class="form-control" id="url" placeholder="magnet">
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn btn-primary" onclick="downloadJob()">Download</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2><label>Downloads</label></h2>
            </div>
        </div>

        <div id="downloads"></div>
        <template id="downloads_template">
            <div class="row justify-content-center mb-3">
                <div class="col">
                    <div class="card card-body">
                        <div class="row justify-content-between mb-3">
                            <div class="col-auto">
                                <div class="card-title">
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="btn-group " role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-success"
                                        onclick="startJob(this.value)">Start</button>
                                    <button type="button" class="btn btn-secondary"
                                        onclick="pauseJob(this.value)">Pause</button>
                                    <button type="button" class="btn btn-danger"
                                        onclick="deleteJob(this.value)">Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="progress" style="height: 20px;">
                            <div id="download_progress" class="progress-bar progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                style="width: 75%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2><label>Files</label></h2>
            </div>
        </div>

        <div id="files"></div>
        <template id="files_template">
            <div class="row justify-content-center mb-3">
                <div class="col">
                    <div class="card card-body">
                        <ul class="list-group list-group-flush"></ul>
                    </div>
                </div>
            </div>
        </template>
        <template id="files_li_template">
            <li class="list-group-item">
                <div class="row justify-content-between">
                    <div class="col">
                        <a id="file_link" href=""></a>
                    </div>
                    <div class="col-auto">
                        <a id="show_file_child" href="javascript:void(0);" onclick=""></a>
                    </div>
                </div>
                <ul id="file_child" class="list-group list-group-flush" style="display: none"></ul>
            </li>
        </template>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="/static/js/index.js"></script>
</body>

</html>